$container-width: 800px;
$highlight-color: #52057b;
$bg-color: #eee;
$btn-color: #d6d2c4;
$player-color: darken($btn-color, 15%);
$info-color: #777;

// controllers
$ctr-bg-color: #606c76; //34626c // 34424c
$ctr-bg-light-color: #999;
$ctr-bg-highlight-color: #ba8; //#169a67;

$orange: #de6b35;
$green: #1dc685;
$blue: #33bcce;

// guitar
$color1: #1dc685;
$color2: #fad700;
$color3: $orange;
$color4: darken(#33bcce, 2%);
$color5: #ffa500;
$color6: #f979f9; //bd68bb
$color7: #9955ee;